<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><a href="https://github.com/kimd24/Beating-Houses-toDeath">GitHub</a></li>
    </ul>
  </nav>
</footer>
