<h1>Help</h1>
  <h2>Querey Options</h2>
    <h3>The Queries that have been implemented are as follows:</h3>
     <li>You can look up any part of a houses address and the Database returns everything that contains that string in its address</li>
     <p></p>
     <li>You can search a price amount and it will return all the houses within a range of the given value</li>
